body {
    background-color: rgb(43,54,61);
    font-family: 'Titillium Web', sans-serif;
}

.title {
    font-family: 'Tourney', cursive;
    font-weight: 500;
    font-size: 75px;
    margin: 5px;

}

.customPaddingRight {
    padding-right: 10%;
    background-color: black;
    color: rgb(254,232,33);
}

.customCard {
    background-color: rgb(254,232,33);
}

.customInline {
    display: inline;
}

.customPaddingTop {
    padding-top: 0px;
}

.uk-navbar-nav a {
    font-family: 'Titillium Web', sans-serif;
}

.search-coins {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
}

@media screen and (min-width: 960px){
    #search-graph-container {
        display: flex;
    }

    #focus-graph-container {
        display: flex;
    }
}

@media screen and (min-width: 1600px) {
    .cardBodyContainer {
        line-height: 3;
    }
}
.cardBodyContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.card {
    background-color: rgb(250,250,251);
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    padding: 5px 5px 5px 45px;
    margin: 10px 0 0 0;
    border-radius: 10px;
}

.uk-card-title {
    font-family: 'Titillium Web', sans-serif;
}

.uk-card-price {
    font-family: 'Titillium Web', sans-serif;
}

.uk-badge {
    font-size: large;
    padding: 15px;
}

.search-parameters {
    padding: 10px;
    margin: 20px 0 0 0;
    color: white;
    float: right;
}

.sub-heading {
    font-size: 40px;
    font-weight: 600;
    margin: 10px 0 10px 0;
    width: max-content;
    color: rgb(255, 242, 66);
    /* border: red dashed; */
}
.search-parameters label, .search-parameters a {
    padding: 1px;
    margin: 1px;
    color: white;
}

a .news-link {
    color: blue;
}

.new-feeder h2 {
    font-family: 'Titillium Web', sans-serif;
}
